{% extends 'portal.html'%}
{% block header %}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/css/bootstrap-select.min.css"
    integrity="sha256-VMPhaMmJn7coDSbzwqB0jflvb+CDnoAlfStC5RogOQo=" crossorigin="anonymous" />
{% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/js/bootstrap-select.min.js"
    integrity="sha256-QOE02Glo1C1gHzP96JOaxyIMt4XSFv/exZaYLY4dwO0=" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/3.0.2/bokeh.min.js"
    integrity="sha512-8aCc4Sv4kjQfm936MeLi4CFqmXKNp+WgpxPiPOr0wD4tBDnnmoWQ1bXK1hrZwTqMleXcMi88MbgwnY/Ph8/tPw==" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/3.0.2/bokeh-gl.min.js"
    integrity="sha512-/wAklz2dRT7ESalcwVsRyFQaFhMee+yA1uoSfjA9D4bUmYUGLRAoLxpWfMkbtn/Sxvk3nSidZb4U4opLhDvTYA==" crossorigin="anonymous">
</script>
<script>
    $(document).ready(function () {
        //Generate view data button url on population select change
        $("#population").change(function () {
            var viewDataButton = $("#view-data-button");
            viewDataButton.attr("href", viewDataButton.data("base-href").replace("selected", $(this).val()));
        });
        //Load population data
        var populationHttpRequest = new XMLHttpRequest();
        populationHttpRequest.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {//OK Response
                var json = JSON.parse(this.responseText);
                if (json.name.length == 0) $("#request-error").text("No population details found").parent().removeClass("d-none");
                else {
                    //Start Date Left
                    var timestampConvertEndpoint = '{{ url_for("transferlearningOffline.convert_nanoseconds", nanoseconds=0, unit="milliseconds") }}';
                    var startDateTimestampConvertHttpRequestLeft = new XMLHttpRequest();
                    startDateTimestampConvertHttpRequestLeft.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            var dateLeft = new Date(parseInt(this.responseText));
                            $("input[name='start-date-left']").val(dateLeft.getFullYear() + "-" + String(dateLeft.getMonth() + 1).padStart(2, "0") + "-" + String(dateLeft.getDate()).padStart(2, "0"));
                            $("input[name='start-time-left']").val(String(dateLeft.getHours()).padStart(2, '0') + ":" + String(dateLeft.getMinutes()).padStart(2, '0'));
                        }
                    }
                    startDateTimestampConvertHttpRequestLeft.open("GET", timestampConvertEndpoint.replace("0", json.start), true);
                    startDateTimestampConvertHttpRequestLeft.send();
                    
                    //End Date Left
                    var endDateTimestampConvertHttpRequestLeft = new XMLHttpRequest();
                    endDateTimestampConvertHttpRequestLeft.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            var dateLeft = new Date(parseInt(this.responseText));
                            $("input[name='end-date-left']").val(dateLeft.getFullYear() + "-" + String(dateLeft.getMonth() + 1).padStart(2, "0") + "-" + String(dateLeft.getDate()).padStart(2, "0"));
                            $("input[name='end-time-left']").val(String(dateLeft.getHours()).padStart(2, '0') + ":" + String(dateLeft.getMinutes()).padStart(2, '0'));
                        }
                    }
                    endDateTimestampConvertHttpRequestLeft.open("GET", timestampConvertEndpoint.replace("0", json.end), true);
                    endDateTimestampConvertHttpRequestLeft.send();

                    //Structures Left
                    var selectedStructuresLeft = {{ structuresLeft|safe }};
                    var sortedStructuresLeft = json.structures.sort();
                    var structureSelectLeft = $("select[name='structures-left']");
                    for (var i = 0; i < json.structures.length; i++) {
                        var selected = false;
                        for (var j = 0; j < selectedStructuresLeft.length; j++) {
                            if (sortedStructuresLeft[i] != selectedStructuresLeft[j]) continue;
                            selected = true;
                            break;
                        }
                        // alert("<option" + ((selected) ? " selected" : "") + ">" + sortedStructuresLeft[i] + "</option>")
                        structureSelectLeft.append("<option" + ((selected) ? " selected" : "") + ">" + sortedStructuresLeft[i] + "</option>");
                    }

                    //Channels Left
                    var selectedChannelsLeft = {{ channelsLeft|safe }};
                    var sortedChannelsLeft = json.channels.sort((a, b) => {
                        if (a.name > b.name) return 1;
                        else if (a.name < b.name) return -1;
                        else return 0;
                    });
                    var channelSelectLeft = $("select[name='channels-left']");
                    for (var i = 0; i < json.channels.length; i++) {
                        var selected = false;
                        for (var j = 0; j < selectedChannelsLeft.length; j++) {
                            if (sortedChannelsLeft[i].name != selectedChannelsLeft[j]) continue;
                            selected = true;
                            break;
                        }
                        channelSelectLeft.append("<option" + ((selected) ? " selected" : "") + " value='" + sortedChannelsLeft[i].name + "'>" + sortedChannelsLeft[i].name + " (" + sortedChannelsLeft[i].type + ((typeof sortedChannelsLeft[i].unit !== typeof undefined) ? ": " + sortedChannelsLeft[i].unit : "") + ")</option>");
                    }

                    //Start Date Right
                    var timestampConvertEndpoint = '{{ url_for("transferlearningOffline.convert_nanoseconds", nanoseconds=0, unit="milliseconds") }}';
                    var startDateTimestampConvertHttpRequestRight = new XMLHttpRequest();
                    startDateTimestampConvertHttpRequestRight.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            var dateRight = new Date(parseInt(this.responseText));
                            $("input[name='start-date-right']").val(dateRight.getFullYear() + "-" + String(dateRight.getMonth() + 1).padStart(2, "0") + "-" + String(dateRight.getDate()).padStart(2, "0"));
                            $("input[name='start-time-right']").val(String(dateRight.getHours()).padStart(2, '0') + ":" + String(dateRight.getMinutes()).padStart(2, '0'));
                        }
                    }
                    startDateTimestampConvertHttpRequestRight.open("GET", timestampConvertEndpoint.replace("0", json.start), true);
                    startDateTimestampConvertHttpRequestRight.send();
                    
                    //End Date Right
                    var endDateTimestampConvertHttpRequestRight = new XMLHttpRequest();
                    endDateTimestampConvertHttpRequestRight.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            var dateRight = new Date(parseInt(this.responseText));
                            $("input[name='end-date-right']").val(dateRight.getFullYear() + "-" + String(dateRight.getMonth() + 1).padStart(2, "0") + "-" + String(dateRight.getDate()).padStart(2, "0"));
                            $("input[name='end-time-right']").val(String(dateRight.getHours()).padStart(2, '0') + ":" + String(dateRight.getMinutes()).padStart(2, '0'));
                        }
                    }
                    endDateTimestampConvertHttpRequestRight.open("GET", timestampConvertEndpoint.replace("0", json.end), true);
                    endDateTimestampConvertHttpRequestRight.send();

                    //Structures Right
                    var selectedStructuresRight = {{ structuresRight|safe }};
                    var sortedStructuresRight = json.structures.sort();
                    var structureSelectRight = $("select[name='structures-right']");
                    for (var i = 0; i < json.structures.length; i++) {
                        var selected = false;
                        for (var j = 0; j < selectedStructuresRight.length; j++) {
                            if (sortedStructuresRight[i] != selectedStructuresRight[j]) continue;
                            selected = true;
                            break;
                        }
                        // alert("<option" + ((selected) ? " selected" : "") + ">" + sortedStructuresRight[i] + "</option>")
                        structureSelectRight.append("<option" + ((selected) ? " selected" : "") + ">" + sortedStructuresRight[i] + "</option>");
                    }

                    //Channels Right
                    var selectedChannelsRight = {{ channelsRight|safe }};
                    var sortedChannelsRight = json.channels.sort((a, b) => {
                        if (a.name > b.name) return 1;
                        else if (a.name < b.name) return -1;
                        else return 0;
                    });
                    var channelSelectRight = $("select[name='channels-right']");
                    for (var i = 0; i < json.channels.length; i++) {
                        var selected = false;
                        for (var j = 0; j < selectedChannelsRight.length; j++) {
                            if (sortedChannelsRight[i].name != selectedChannelsRight[j]) continue;
                            selected = true;
                            break;
                        }
                        channelSelectRight.append("<option" + ((selected) ? " selected" : "") + " value='" + sortedChannelsRight[i].name + "'>" + sortedChannelsRight[i].name + " (" + sortedChannelsRight[i].type + ((typeof sortedChannelsRight[i].unit !== typeof undefined) ? ": " + sortedChannelsRight[i].unit : "") + ")</option>");
                    }
                
                }
                $("form .form-control").removeAttr("disabled");
                $("form .selectpicker").selectpicker("refresh");
                $("#request-loading-left").removeAttr("disabled").children(".spinner-border").addClass("d-none");
                $("#request-loading-right").removeAttr("disabled").children(".spinner-border").addClass("d-none");
            } else if (this.readyState == 1) {//Connection Established
                $("form .form-control").attr("disabled", true);
                $("#request-loading-left").attr("disabled", true).children(".spinner-border").removeClass("d-none");
                $("#request-loading-right").attr("disabled", true).children(".spinner-border").removeClass("d-none");
            } else if (this.readyState == 4) {//Error Status
                $("#request-loading-left").removeAttr("disabled").children(".spinner-border").addClass("d-none");
                $("#request-error-left").text("Error " + this.status + ": " + this.statusText).parent().removeClass("d-none");
                $("#request-loading-right").removeAttr("disabled").children(".spinner-border").addClass("d-none");
                $("#request-error-right").text("Error " + this.status + ": " + this.statusText).parent().removeClass("d-none");
            }
        }
        populationHttpRequest.open("GET", '{{ url_for("transferlearningOffline.population_details", population=population) }}', true);
        populationHttpRequest.setRequestHeader("Accept", "application/json");
        populationHttpRequest.send();
        
        //Document submit
        $(document).submit(function () {
            $("#request-loading-left").attr("disabled", true).children(".spinner-border").removeClass("d-none");
            $("#request-loading-right").attr("disabled", true).children(".spinner-border").removeClass("d-none");
            return true;
        });
    });
</script>
{{ scriptsLeft|safe if scriptsLeft else '' }}
{{ scriptsRight|safe if scriptsRight else '' }}
{{ scriptsBefore|safe if scriptsBefore else '' }}
{{ scriptsAfter|safe if scriptsAfter else '' }}
{% endblock %}

{% block title %}
    {{ population }}
{% endblock %}

{% block title_call_to_action %}
    <div class="input-group">
        <select id="population" name="population" class="form-control">
            {% for item in populations %}
            <option {{ "selected" if item == population else "" }}>
                {{ item }}
            </option>
            {% endfor %}
        </select>
        <div class="input-group-append">
            <a id="view-data-button" data-base-href='{{ url_for("transferlearningOffline.population_browse", population="selected") }}'
                href='{{ url_for("transferlearningOffline.population_browse", population=population) }}' class="btn btn-outline-info">
                Switch
            </a>
        </div>
    </div>
{% endblock %}



{% block content %}
    <div class="row">
        <!-- Left Form -->
        <div class="col-md-6">
            <form method="POST">
                <input type="hidden" name="form-id" value="leftForm">
                <div class="row mb-2">
                    <!-- Start Date -->
                    <div class="col-md-12 col-lg-6 mb-2 mb-lg-0">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light border-light">
                                    Start Date
                                </span>
                            </div>
                            <input name="start-date-left" type="date" class="form-control border-light">
                            <input name="start-time-left" type="time" value="00:00" class="form-control flex-grow-0 w-25 border-light">
                        </div>
                    </div>
                    <!-- End Date -->
                    <div class="col-md-12 col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light border-light">
                                    End Date
                                </span>
                            </div>
                            <input name="end-date-left" type="date" class="form-control border-light">
                            <input name="end-time-left" type="time" value="00:00" class="form-control flex-grow-0 w-25 border-light">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <!-- Structures -->
                    <div class="col-md-12 col-lg-4 mb-2 mb-lg-0">
                        <select name="structures-left" multiple title="Structures" data-live-search="true"
                            class="form-control selectpicker">
                        </select>
                    </div>
                    <!-- Channels -->
                    <div class="col-md-12 col-lg-8">
                        <select name="channels-left" multiple title="Channel Names" data-live-search="true"
                            class="form-control selectpicker">
                        </select>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button id="request-loading-left" type="submit-left" class="btn btn-outline-success">
                        <div class="spinner-border spinner-border-sm text-secondary mr-1 d-none" role="status">
                        </div>
                        Generate Source Graph
                    </button>
                </div>
            </form> 
            <div class="mt-2">
                {{ figureLeft|safe if figureLeft else '' }}
            </div>
        </div>

        <!-- Right Form -->
        <div class="col-md-6">
            <form method="POST">
                <input type="hidden" name="form-id" value="rightForm">
                <div class="row mb-2">
                    <!-- Start Date -->
                    <div class="col-md-12 col-lg-6 mb-2 mb-lg-0">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light border-light">
                                    Start Date
                                </span>
                            </div>
                            <input name="start-date-right" type="date" class="form-control border-light">
                            <input name="start-time-right" type="time" value="00:00" class="form-control flex-grow-0 w-25 border-light">
                        </div>
                    </div>
                    <!-- End Date -->
                    <div class="col-md-12 col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light border-light">
                                    End Date
                                </span>
                            </div>
                            <input name="end-date-right" type="date" class="form-control border-light">
                            <input name="end-time-right" type="time" value="00:00" class="form-control flex-grow-0 w-25 border-light">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <!-- Structures -->
                    <div class="col-md-12 col-lg-4 mb-2 mb-lg-0">
                        <select name="structures-right" multiple title="Structures" data-live-search="true"
                            class="form-control selectpicker">
                        </select>
                    </div>
                    <!-- Channels -->
                    <div class="col-md-12 col-lg-8">
                        <select name="channels-right" multiple title="Channel Names" data-live-search="true"
                            class="form-control selectpicker">
                        </select>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button id="request-loading-right" type="submit-right" class="btn btn-outline-success">
                        <div class="spinner-border spinner-border-sm text-secondary mr-1 d-none" role="status">
                        </div>
                        Generate Target graph
                    </button>
                </div>
            </form>
            <div class="mt-2">
                {{ figureRight|safe if figureRight else '' }}
            </div>
        </div>
    </div>

    <div class="mt-2 {{ 'd-none' if error is none else '' }}">
        <div id="request-error" class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    </div>
    <br>
    <form method="POST">
        <input type="hidden" name="form-id" value="transfer">
        <div class="d-flex justify-content-center">
            <button id="request-loading" type="submit-transfer" class="btn btn-outline-success">
                <div class="spinner-border spinner-border-sm text-secondary mr-1 d-none" role="status">
                </div>
                Align Domains
            </button>
        </div>
    </form>
    <br>
    <div class="row">
        <!-- Before Plot -->
        <div class="col-md-6">
            <div class="mt-2">
                {{ figureBefore|safe if figureBefore else '' }}
            </div>
        </div>

        <!-- After Plot -->
        <div class="col-md-6">
            <div class="mt-2">
                {{ figureAfter|safe if figureAfter else '' }}
            </div>
        </div>
    </div>

{% endblock %}